<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
}
</style>
</head>
<body>

<h1>2021050442-Cao Ngoc Minh a 2021050442-Cao Ngoc Minh </h1>
<p>2021050442-Cao Ngoc Minh  a 2021050442-Cao Ngoc Minh </p>

</body>
</html>